*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.calendar/src/main/java/com/alberto/calendar.MainActivity.kt
/.calendar/src/main/res/layout/activity_main.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
